#IMPORTANT: THIS ACTION MUST BE EXECUTED ON A CLEAN ENVIRONMENT WITH AZ INSTALLED

name: Deploy app to Azure Storage

inputs:
  WORKING_DIRECTORY:
    required: true
    type: string
  BINARIES_DIRECTORY:
    required: true
    type: string
  AZURE_CREDENTIALS:
    required: true
    type: string
  STORAGE_ACCOUNT_NAME:
    required: true
    type: string
  CDN_PROFILE_NAME:
    required: false
    type: string
    default: ""
  CDN_ENDPOINT_NAME:
    required: false
    type: string
    default: ""
  CDN_RG_NAME:
    required: false
    type: string
    default: ""
  FD_RG_NAME:
    required: false
    type: string
    default: ""
  FD_ENDPOINT_NAME:
    required: false
    type: string
    default: ""
  FD_DOMAIN_NAME:
    required: false
    type: string
    default: ""
  FD_PROFILE_NAME:
    required: false
    type: string
    default: ""

runs:
  using: composite
  steps:
    - name: Azure login
      uses: azure/login@v2
      with:
        creds: ${{ inputs.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Storage
      shell: 'bash'
      run: |
        az storage blob sync --account-name ${{ inputs.STORAGE_ACCOUNT_NAME }} -c '$web' -s ${{ inputs.WORKING_DIRECTORY }}/${{ inputs.BINARIES_DIRECTORY }}

    - name: Purge CDN endpoint
      shell: 'bash'
      if: ${{ inputs.CDN_RG_NAME != '' }}
      run: |
        az cdn endpoint purge --content-paths  "/*" --profile-name "${{ inputs.CDN_PROFILE_NAME }}" --name "${{ inputs.CDN_ENDPOINT_NAME }}" --resource-group "${{ inputs.CDN_RG_NAME }}"

    - name: Purge Azure Front Door endpoint
      shell: 'bash'
      if: ${{ inputs.FD_RG_NAME != '' }}
      run: |
        az afd endpoint purge --content-paths  "/*" --endpoint-name "${{ inputs.FD_ENDPOINT_NAME }}" --resource-group "${{ inputs.FD_RG_NAME }}" --domains "${{ inputs.FD_DOMAIN_NAME }}" --profile-name "${{ inputs.FD_PROFILE_NAME }}"

    - name: Azure logout
      shell: 'bash'
      if: always()
      continue-on-error: true
      run: |
          az logout
          az cache purge
          az account clear
