name: Docker build and push image

on:
  workflow_call:
    inputs:
      RUN_ON:
        required: false
        type: string
        default: 'zupit-agents'
      RUNNERS_CONTAINER_GROUP:
        required: false
        type: string
        default: 'Container'
      DIND_IMAGE:
        required: false
        type: string
        default: 'docker:26.0.0-dind'
      WORKING_DIRECTORY:
        required: true
        type: string
      DOCKERFILE_PATH:
        required: true
        type: string
      DOCKER_IMAGE_NAME:
        required: true
        type: string
      DOCKER_IMAGE_TAG:
        required: true
        type: string
      BUILD_ARGS:
        required: false
        type: string
        default: ""
      REGISTRY_URL:
        required: false
        type: string
        default: ghcr.io
      REGISTRY_USER:
        required: false
        type: string
        default: ${{ github.actor }}
      CHECKOUT_REF:
        required: false
        type: string
        default: ''
    outputs:
      DOCKER_IMAGE_NAME:
        description: "The docker image name that has been built"
        value: ${{ jobs.docker-build-push-image.outputs.DOCKER_IMAGE_NAME }}

env: "${{secrets}}"

jobs:
  docker-build-push-image:
    runs-on:
      labels: ${{ inputs.RUN_ON }}
      group: ${{ inputs.RUNNERS_CONTAINER_GROUP }}
    container:
      image: ${{ inputs.DIND_IMAGE }}

    outputs:
      DOCKER_IMAGE_NAME: ${{ steps.docker.outputs.DOCKER_IMAGE_NAME }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.CHECKOUT_REF }}

      - name: Docker Build & Push
        id: docker
        uses: zupit-it/pipeline-templates/.github/actions/docker/build-and-push@v1.20.1
        with:
          REGISTRY_URL: ${{ inputs.REGISTRY_URL }}
          REGISTRY_USER: ${{ inputs.REGISTRY_USER }}
          REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          WORKING_DIRECTORY: ${{ inputs.WORKING_DIRECTORY }}
          DOCKERFILE_PATH: ${{ inputs.DOCKERFILE_PATH }}
          DOCKER_IMAGE_NAME: ${{ inputs.DOCKER_IMAGE_NAME }}
          DOCKER_IMAGE_TAG: ${{ inputs.DOCKER_IMAGE_TAG }}
          BUILD_ARGS: ${{ inputs.BUILD_ARGS }}
        env: "${{secrets}}"


