name: Deploy docker compose

on:
  workflow_call:
    inputs:
      DEPLOY_ON:
        required: true
        type: string
      RUNNERS_CONTAINER_GROUP:
        required: false
        type: string
        default: 'Container'
      ENVIRONMENT:
        required: true
        type: string
      DEPLOY_URL:
        required: true
        type: string
      REGISTRY_URL:
        required: true
        type: string
      PROJECT_NAME:
        required: true
        type: string
      DOCKER_COMPOSE_PATH:
        required: true
        type: string
      DOCKER_COMPOSE_EXTRA_ARGS:
        required: false
        type: string
        default: ''
      IMAGES:
        required: true
        type: string
      DIND_IMAGE:
        required: false
        type: string
        default: 'docker:26.0.0-dind'

env: "${{secrets}}"

jobs:
  deploy-with-runner-group:
    if: ${{ inputs.RUNNERS_CONTAINER_GROUP != '' }}
    runs-on:
      labels:
        - deploy
        - ${{ inputs.DEPLOY_ON }}
      group: ${{ inputs.RUNNERS_CONTAINER_GROUP }}
    env: ${{ fromJson(inputs.IMAGES) }}
    environment:
      name: ${{ inputs.ENVIRONMENT }}
      url: ${{ inputs.DEPLOY_URL }}
    container:
      image: ${{ inputs.DIND_IMAGE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy
        uses: zupit-it/pipeline-templates/.github/actions/docker/deploy@v1.22.21
        with:
          REGISTRY_URL: ${{ inputs.REGISTRY_URL }}
          PROJECT_NAME: ${{ inputs.PROJECT_NAME }}
          DOCKER_COMPOSE_PATH: ${{ inputs.DOCKER_COMPOSE_PATH }}
          DOCKER_COMPOSE_EXTRA_ARGS: ${{ inputs.DOCKER_COMPOSE_EXTRA_ARGS }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-without-runner-group:
    if: ${{ inputs.RUNNERS_CONTAINER_GROUP == '' }}
    runs-on:
      labels:
        - deploy
        - ${{ inputs.DEPLOY_ON }}
    env: ${{ fromJson(inputs.IMAGES) }}
    environment:
      name: ${{ inputs.ENVIRONMENT }}
      url: ${{ inputs.DEPLOY_URL }}
    container:
      image: ${{ inputs.DIND_IMAGE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy
        uses: zupit-it/pipeline-templates/.github/actions/docker/deploy@v1.22.21
        with:
          REGISTRY_URL: ${{ inputs.REGISTRY_URL }}
          PROJECT_NAME: ${{ inputs.PROJECT_NAME }}
          DOCKER_COMPOSE_PATH: ${{ inputs.DOCKER_COMPOSE_PATH }}
          DOCKER_COMPOSE_EXTRA_ARGS: ${{ inputs.DOCKER_COMPOSE_EXTRA_ARGS }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
